
<div class="alert text-center cookiealert" role="alert">
    <span class="small">This website relies on cookies to help provide a better user experience. By clicking Accept or continuing to use the site, you agree. For more information,
        see our <a href="https://github.com/CenterForOpenScience/cos.io/blob/master/PRIVACY_POLICY.md" class="text-white">Privacy Policy</a>
        and information on <a href="https://github.com/CenterForOpenScience/cos.io/blob/master/PRIVACY_POLICY.md#7-types-of-information-we-collect" class="text-white">cookie use</a>.</span>

    <button type="button" class="btn btn-light btn-sm acceptcookies" aria-label="Close">
        Accept
    </button>
</div>