{% load static %}

    <footer class="footer mt-5">
      <div class="container">

        <div class="d-flex flex-column flex-md-row justify-content-md-between">
            <div class="footer-copyright d-flex flex-wrap flex-md-column justify-content-center">
              <span class="small">Copyright © 2019-2020</span>
              <a href="https://PROVIDEDH.eu" class="ml-1 ml-md-0 small">PROVIDEDH.eu</a>
            </div>

            <ul class="footer-menu list-unstyled d-flex mt-1 mt-md-0 justify-content-center">
              <li class="mr-2 footer-menu__item">
                <a href="https://github.com/CenterForOpenScience/cos.io/blob/master/TERMS_OF_USE.md" class="small">Terms od Use</a>
              </li>
              <li class="ml-2 footer-menu__item">
                <a href="https://github.com/CenterForOpenScience/cos.io/blob/master/PRIVACY_POLICY.md" class="small">Privacy Policy</a>
              </li>
            </ul>
        </div>

        <ul class="footer-cooperate d-flex flex-wrap justify-content-center list-unstyled mt-3 mt-md-5 mb-5">
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/1.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/pcss.svg' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo footer-cooperate__logo--pcss"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/3.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/4.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/5.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/6.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/7.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/8.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/9.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/10.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
          <li>
            <a href="#" target="_blank"><img src="{% static 'img/logo/cooperation/11.png' %}" class="mt-2 mb-2 ml-4 mr-4 footer-cooperate__logo"/></a>
          </li>
        </ul>





        </div>
      </div>
    </footer>

    <script src="{% static 'js/main-libs.js' %}"></script>
  </body>
</html>
