.frame{
    background-color: white;
    padding: 0 5px 5px 5px;
    width: 100%;
    height: 100%;
}

.topbar{
    height: 25px;
}

.topbar span{
    font-size: .7em;
    padding-left: 10px;
}

.container{
    height: calc(100% - 25px);
    background: lightgrey;
}
