{% extends 'page.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="login mb-5">
      <div class="login-logo">
        <img src="{% static 'img/logo/providedh/logo.svg' %}" class="img-fluid"/>
      </div>

      <h2 >Login</h2>
      <p>Sign in with your PROVIDEDH account to continue</p>

      <div class="login-container">
        <form method="post">
          {% csrf_token %}

          <ul class="login-form list-unstyled">
            {{ form.as_ul }}
          </ul>

          <div class="login-buttons d-flex justify-content-between align-items-baseline pt-3">
            <a href="#" class="text-white small">Forgot your password</a>
            <button type="submit" class="btn btn-success text-uppercase">Login</button>
          </div>

          <div class="login-providers d-flex flex-column mt-5 pt-4">
            <a href="{% url 'social:begin' 'orcid' %}" class="btn btn-orcid btn-sm btn-block d-flex align-items-center justify-content-center"><img src="{% static 'img/misc/orcid-logo.png' %}" class="mr-2 login-providers__logo"/> <span>Sign in with ORCID</span></a>
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-sm btn-block d-flex align-items-center justify-content-center"><img src="{% static 'img/misc/facebook-logo.png' %}" class="mr-2 login-providers__logo"/> <span>Sign in with Facebook</span></a>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-sm btn-block d-flex align-items-center justify-content-center"><img src="{% static 'img/misc/google-logo.png' %}" class="mr-2 login-providers__logo"/> <span>Sign in with Google</span></a>
          </div>
        </form>
      </div>

      <div class="login-bottom d-flex flex-column flex-md-row mt-3 justify-content-between">
        <div>
          <a href="{% url 'signup' %}" class="text-black-50 small">Create a PROVIDEDH account </a>
        </div>
        <div>
          <a href="{% url 'index' %}" class="text-black-50 small">Back to PROVIDEDH</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
