<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block head %}
    {% endblock %}

    <title>PROVIDEDH | {{ title }}</title>
  </head>

  <body class="body--flex">
    <header class="header">
      <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
            <img src="{% static 'img/logo/providedh/logo-text.png' %}" class="header-logo__img" />
            <span class="d-none d-md-inline pl-2">Home</span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-list">

            {% include "partials/menu.html" %}

          </div>
        </div>

      </nav>
    </header>

    <div class="alerts">
      <div class="container">
        {% for alert in alerts %}
        <div class="alert alert-{{ alert.type }} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ alert.message }}
        </div>
        {% endfor %}
      </div>
    </div>

    <main class="sections sections--hasnavbar">
      {% block content %}
      {% endblock %}
    </main>

{% include "partials/cookies.html" %}
{% include "partials/footer.html" %}