# PyCharm IDE settings files
.idea/

# Vietualenv files
venv/

# Pyhon cache files
__pycache__/

# Testing framework temporary files
.pytest_cache/
.coverage

# Django default database file
*.sqlite3

# Logs
*.log
