# PyCharm IDE settings files
.idea/

# Vietualenv files
venv/

# Pyhon cache files
__pycache__/

# Uploaded files
uploaded_files/

# Testing framework temporary files
.pytest_cache/
.coverage

# Django default database file
*.sqlite3

# Logs
*.log

settings.py