# frontend files
node_modules

# PyCharm IDE settings files
.idea/

# Vietualenv files
venv/

# Pyhon cache files
__pycache__/

# Python eggs
*.egg-info/

# Uploaded files
media/

# Testing framework temporary files
.pytest_cache/
.coverage

# Django default database file
*.sqlite3

# Logs
*.log

# Local Django settings
settings.py

# Celery schedule
celerybeat-schedule
