Django==2.2.3

# For Postgres database
psycopg2==2.8.3

# For tests
pytest==5.0.1
pytest-cov==2.7.1
pytest-django==3.5.1

# For bots protection
django-recaptcha==2.0.4

# For message broker (for Celery and WebSockets)
redis==3.3.4
asgi_redis==1.4.3

# For WebSockets
channels==1.1.8
django-channels-presence==0.0.9

# For periodic tasks
celery==4.3.0
