# Framework
Django==2.2.16

# For Postgres database
psycopg2-binary~=2.8.3

# For tests
pytest==6.0.1
pytest-asyncio==0.14.0
pytest-cov==2.10.1
pytest-django==3.9.0
pytest-repeat==0.8.0
pytest-rerunfailures==9.1
django-async-test==0.2.2

# Web browser handler
selenium<4.0.0

# For bots protection
django-recaptcha==2.0.6

# For message broker (for Celery and WebSockets)
redis==3.5.3

# For WebSockets
channels==2.4.0
channels-redis==3.1.0

# For periodical tasks
celery==4.4.7

# For xml processing
lxml~=4.5.2
xmltodict==0.12.0

# For file conversions
beautifulsoup4~=4.9.1

# For Searching and entities indexing
elasticsearch-dsl>=7.0.0,<8.0.0

# For social medias authentication
social-auth-app-django==4.0.0

# For SSL on localhost
# django-extensions==3.0.8
# Werkzeug==0.15.5
# pyOpenSSL==19.0.0
# service_identity==18.1.0

# For contributor autocomplete
django-autocomplete-light==3.5.1

# For files deletion
django-cleanup==5.0.0

asgiref==3.2.10

# For NLP
pandas
tqdm

#For Neural Networks
geopy~=2.0.0
editdistance~=0.5.3
Fuzzy~=1.2.2
spacy~=2.3.2
wheel~=0.34.2
scikit-learn~=0.23.1
joblib
timefhuman
maya


uvicorn[standard]

gunicorn
