asgiref
Django==2.2.3

# For Postgres database
psycopg2-binary==2.8.3

# For tests
pytest==5.0.1
pytest-cov==2.7.1
pytest-django==3.5.1

# For bots protection
django-recaptcha==2.0.4

# For message broker (for Celery and WebSockets)
redis==3.3.4

# For WebSockets
channels==2.2.0
channels-redis==2.4.0

# For periodical tasks
celery==4.3.0

# For xml processing
lxml==4.4.0
xmltodict==0.12.0

# For file conversions
beautifulsoup4==4.8.0

# For Searching and entities indexing
elasticsearch-dsl>=7.0.0,<8.0.0

# For social medias authentication
social-auth-app-django==3.1.0

# For SSL on localhost
# django-extensions==2.2.1
# Werkzeug==0.15.5
# pyOpenSSL==19.0.0
# service_identity==18.1.0

# For contributor autocomplete
django-autocomplete-light==3.4.1

# For files deletion
django-cleanup==4.0.0