.heatmap{
	height: 100%;
	position: relative;
}

.heatmapSvg{
font-family: Helvetica, Arial;
}
.heatmapSvg text{
text-anchor: middle;
font-weight: bold;
}

.heatmapSvg .legendBrush{position: absolute;}
text.legend{
text-anchor: start;
transform-origin: start;
}