.menu{
background-color: #eee;
}
.container{
display: flex;
justify-content: center;
}
.menu li{
background-color: transparent;
border: none;
}
.menu li:nth-of-type(2){
text-align: center;
line-height: 1.3em;
}
.menu hr{
width: calc(100% - 6em);
background: lightgrey;
margin: 0 auto;
}