.dataSelectionPanel{
 height: 100%;
}

.dataSelectionPanel h5,
.dataSelectionPanel h6{
 padding-left: var(--space-l);
}

.timeline{
 height:60%;
 margin: 5px;
 background-color: var(--light);
 overflow-y: scroll;
}

.timestamp{
 padding: var(--space-m) var(--space-s) var(--space-m) var(--space-l);
 color: var(--gray);
 cursor: pointer;
}

.timestamp:first-of-type{
	margin-top: 3em;
}

.selected{
 color: black;
}

.icon{
 display: inline-block;
 width: 1em;
 height: 1em;
 background-color: var(--light);
}

.selected .icon{
 background-color: var(--primary);
}

.timeBar{
 position: absolute;
 left: 2.55em;
}

.timeBar span{
 height: 3em;
 display: block;
 width: 2px;
 border: dashed 2px var(--primary);
}

.timeBar span:nth-of-type(3){
 border: solid 2px var(--primary);
}

.timeBar span:nth-of-type(1),
.timeBar span:nth-of-type(5){
 border: none;
 height: initial;
 width: 15em;
 color: var(--primary);
 position: absolute;
 left: 15px;
 font-weight: bold;
 top: .5em;
}

.timeBar span:nth-of-type(5){
 top: initial;
 bottom: .5em;
}