.navigation{}
.navButton{
	color: var(--blue);
}
.navButton span, .listToggle span{
	font-size: 2em;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.navButton:hover, .navButton span, .listToggle span{
	text-decoration: none !important;
}
.navButton:hover p{
	text-decoration: underline;
}
.pageIndicator, .listToggle{
	display: flex;
    align-items: center;
}
.listToggle span{
	transform: rotateZ(90deg);
    font-weight: bold;
    display: block;
    margin-left: -12px;
}
.proposalList{
    position: absolute;
    bottom: -100%;
    left: calc(50% - 10em);
    z-index: 1;
    margin: 0 auto;
    width: 20em;
}