.navigation{}
.navButton{
color: var(--blue);
}
.navButton span, .listToggle span{
font-size: 2em;
font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.navButton:hover, .navButton span, .listToggle span{
text-decoration: none !important;
}
.navButton:hover p{
text-decoration: underline;
}
.pageIndicator, .listToggle{
display: flex;
align-items: center;
}
.listToggle span{
transform: rotateZ(90deg);
font-weight: bold;
display: block;
margin-left: -12px;
}
.proposalList{
position: absolute;
top: 100%;
left: calc(50% - 10em);
z-index: 1;
margin: 0 auto;
width: 20em;
}
.proposalList > div {
padding-left: 0;
padding-right: 0;
}
.filename{
color: var(--info);
font-weight: bolder;
}
.filename i{
color: var(--info);
margin-left: .5em;
font-size: .8em;
}
.filename i:hover{
color: var(--blue);
}
.slash{
color: var(--dark);
display: inline-block;
margin: 0 .5em;
font-weight: bolder;
}
.entity{
font-weight: bolder;
}
.entity i:before{
content: attr(data);
font-size: .9em;
color: var(--gray);
}
.cliqueName{
color: var(--info);
font-weight: bolder;
margin-right: 1em;
border-right: solid 1px var(--blue);
padding-right: 1em;
}
.clique{}
.clique .filename{
color: var(--dark);
font-weight: bolder;
}
.clique .entityName{
padding: 0 .3em;
cursor: pointer;
}
.proposalEntry{
cursor: pointer;
background-color: var(--light);
margin: .2em 0;
padding: .25rem 1.25rem;
}
.proposalEntry:nth-of-type(2n+1){
background-color: white;
}
.proposalEntry:hover{
background-color: lightgray;
}
.updownArrow{
font-weight: bold;
margin: 0;
text-align: center;
color: var(--blue);
}