.token{
    width: 1em;
    height: 1em;
    display: inline-block;
}

.line{
    display: block;
    height: 1em;
}

.pixelDoc{}

.entityType-p {
    background-color: #ff7f00;
}

.entityType-t {
    background-color: #eab9e4;
}

.entityType-d {
    background-color: #868788;
}

.entityType-l {
    background-color: #ff6464;
}

.entityType-e {
    background-color: #cecece;
}

.entityType-r {
    background-color: #b4edfc;
}

.entityType-o {
    background-color: #b4d38d;
}

.entityType-n {
    background-color: var(--light);
}

.certaintyType-i {
    background-color: #9270a8;
}
.certaintyType-c {
    background-color: #cc4c3b;
}
.certaintyType-m {
    background-color: #f1d155;
}
.certaintyType-n {
    background-color: var(--light);
}
.certaintyType-s {
    background-color: #67b2ac;
}

.certaintyLevel-1 {
    background-color: #2c7bb6;
}

.certaintyLevel-2 {
    background-color: #00ccbc;
}

.certaintyLevel-3 {
    background-color: #ffff8c;
}

.certaintyLevel-4 {
    background-color: #f29e2e;
}

.certaintyLevel-5 {
    background-color: #d7191c;
}

.certaintyLevel-0 {
    background-color: grey;
}

.certaintyLevel-n {
    background-color: var(--light);
}
