#no-projects-hint .explanation {
	display: flex;
    justify-content: flex-end;
    padding-right: 13em;
}
#no-projects-hint .explanation p{
    margin-top: 2em;
    color: var(--info);
    font-weight: 600;
}
#no-projects-hint .arrow{
    font-size: 6em;
    position: absolute;
    right: 1.6em;
    top: .85em;
    color: var(--info);
    font-weight: 600;
}
#no-projects-hint .sampleFile{
	text-align: start;
	color: var(--info);
    font-size: 1.05em;
    background: #c4dae8;
    border: #c4dae8;
}
#no-projects-hint .sampleFile:hover{
	background: var(--light);
	border: var(--light);
}
#no-projects-hint .sampleFile img{
	height: 2.5em;
}
#no-projects-hint .sampleFile .text-muted{
	font-size: .8em;
}