#toolbar input.addNewType{
	position: initial;
	margin: 0 0 0 5px;
	width: initial;
	align-self: flex-start;
}

#toolbar label.addNewTypeLabel{
	padding-left: 5px;
	font-size: .8em;
	margin-top: -1.3em;
	margin-left: 1.5em;
}

.entityTypeFormGroup{
	display: flex;
	flex-direction: column-reverse;
}

.entityTypeFormGroup .newType{
	display: none;
}

.entityTypeFormGroup input.addNewType:checked ~ .typeList{
	display: none;
}

.entityTypeFormGroup input.addNewType:checked ~ .newType{
	display: initial;
}