.sunburst{
	width: 100%;
	height: 100%;
}

g.hovertooltip text{
	text-anchor: middle;
	fill: var(--primary);
	font-weight: bold;
}

g.labels{
	pointer-events: none;
    text-anchor: middle;
    font-size: 9px;
    font-family: sans-serif;
}