.help{
 height: calc(100% - 58px - 20px);
 width: calc(100% - 20px - 20px);
 display: block;
 border: solid 1px lightgrey;
 position: absolute;
 z-index: 1;
 background-color: var(--light);
 margin-left: 10px;
 margin-top: 10px;
 border-radius: 10px;
}

.overflowContainer{
	height: 90%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.narrowParagraph{
	max-width: 55em;
}