.sidePanel{
	background-color: var(--grey);
	height: 100%;
}

.innerPanel{
	
}

.hr{
	margin-top: 0;
}

.header h5{
	padding: var(--space-m) var(--space-s) 0 var(--space-l);
	font-weight: bold;
	color: var(--dark);
	display: inline-block;
}
