{% extends 'base.html' %}
{% load static %}

{% block head %}
  <script>
    let projectId = "{{ project_id }}";
    let fileId = "{{ file_id }}";

    const wsPrefix = (window.location.protocol === 'https:') ? 'wss:' : 'ws:'

    let socket = new WebSocket(wsPrefix + window.location.host + '/ws/poetry_analysis/' + projectId + '_' + fileId + '/')

    if (socket.readyState === WebSocket.OPEN) {
      socket.onopen()
    }

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      console.log("data from socket:" + event.data);
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock %}

{% block content %}
{% endblock %}
