{% extends 'base.html' %}
{%  load static %}

{% block head %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ dummy_form.media }}
{% endblock %}

{% block submenu %}
<ul class="submenu__list">
  <li class="submenu__item">
    <a href="{% url 'projects:project' project.id %}" class="submenu__link">{{ project.title }}</a>
  </li>
  <li class="submenu__item">
    <a href="{% url 'projects:files' project.id %}" class="submenu__link">Files</a>
  </li>
  <li class="submenu__item">
    <a href="{% url 'projects:project_settings' project.id %}" class="submenu__link">Settings</a>
  </li>
</ul>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="submenu">
  <div class="container">
    <ul class="submenu__list d-flex">
      <li class="submenu__item">
        <a href="{% url 'projects:project' project.id %}" class="submenu__link">{{ project.title }}</a>
      </li>
      <li class="submenu__item">
        <a href="{% url 'projects:files' project.id %}" class="submenu__link">Files</a>
      </li>
      <li class="submenu__item submenu__item--active">
        <a href="{% url 'projects:project_settings' project.id %}" class="submenu__link">Settings</a>
      </li>
    </ul>
  </div>
</div>
<div class="container project">
  <div class="d-flex flex-column-reverse flex-md-row project__header">
    <div class=" project__content">
      <h1>{{ project.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">

      <div class="box">
        <div class="box__header">
          <h3 class="box__text--title">Contributors</h3>
        </div>
        <div class="box__content">
          <form method="post" class="box__form">
            {% csrf_token %}
            {{ contributor_formset.as_p }}

            <div class="box__form--buttons">
              <button type="submit" class="btn btn-success">Update</button>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <div class="box">
        <div class="box__header">
          <h3 class="box__text--title">Settings</h3>
        </div>
        <div class="box__content">
          <form method="post" class="box__form">
            {% csrf_token %}
            {{ project_edit_form.as_p }}
            <div class="box__form--buttons">
              <button type="submit" class="btn btn-success">Update</button>
            </div>

          </form>
        </div>
      </div>
      <div class="box">
        <div class="box__header">
          <h3 class="box__text--title">Delete project</h3>
        </div>
        <div class="box__content">
          <div class="box__form--delete d-flex justify-content-between align-items-baseline">
            <div>
              If you are sure you want to delete the project, click "Delete" button.
            </div>
            <div>
              <button class="btn btn-danger" data-toggle="modal" data-target="#deleteProject">Delete</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="deleteProject" aria-hidden="true">
  <div class="modal-dialog" role="document">


      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This action is irreversible.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          <a href="{% url 'projects:project_delete' project.id %}" class="btn btn-danger">Delete project</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}