{% extends 'base.html' %}
{%  load static %}

{% block head %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}

{% block submenu %}
<ul class="submenu__list">
  <li class="submenu__item">
    <h4>{{ project.title }}</h4>
  </li>
  <li class="submenu__item">
    <a href="{% url 'project' project.id %}" class="submenu__link">Files</a>
  </li>
  <li class="submenu__item">
    <a href="{% url 'project_settings' project.id %}" class="submenu__link">Settings</a>
  </li>
</ul>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="submenu">
  <div class="container">
    <ul class="submenu__list d-flex">
      <li class="submenu__item">
        <h4 class="submenu__item--title">{{ project.title }}</h4>
      </li>
      <li class="submenu__item">
        <a href="{% url 'project' project.id %}" class="submenu__link">Files</a>
      </li>
      <li class="submenu__item submenu__item--active">
        <a href="{% url 'project_settings' project.id %}" class="submenu__link">Settings</a>
      </li>
    </ul>
  </div>
</div>
<div class="container project">
  <div class="d-flex flex-column-reverse flex-md-row project__header">
    <div class=" project__content">
      <h1>{{ project.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">

      <div class="box">
        <div class="box__header">
          <h3 class="box__text--title">Contributors</h3>
        </div>
        <div class="box__content">
          <form method="post">
            {% csrf_token %}
            {{ formset.as_p }}

            <button type="submit">Update</button>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <div class="box">
        <div class="box__header">
          <h3 class="box__text--title">Settings</h3>
        </div>
        <div class="box__content">
          <div class="ml-auto project__buttons d-flex flex-nowrap">
            <div><button type="button" class="{% if not project.public %}project__button--makeprivate{% else %}project__button--makeprivate-active{% endif %}" js-makePrivateProject="{{ project.id }}">Private</button></div>
            <div>
              <button class="{% if project.public %}project__button--makepublic{% else %}project__button--makepublic-active{% endif %}"
                      js-makePublicProject="{{ project.id }}" type="button">Public
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}