.documentView{
height: 100%;
display: flex;
flex-direction: column;
}
.documentContainer{
overflow-y: auto;
padding: 15px 10px;
line-height: 2.5em;
}
.overlayCanvas{
position: absolute;
left: 5px;
}
.docName{
max-width: calc(100% - 10em);
text-overflow: ellipsis;
display: inline-block;
overflow: hidden;
}