{% extends 'base.html' %}
{%  load static %}

{% block head %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{#    <link rel="stylesheet" href="/static/css/pages/teiclose-page.css">#}
    <link rel="stylesheet" href="/static/close_reading/css/main.css">
{#  <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>#}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}

{% block content %}
  <div id="annotator" class="container container-xxl">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <section id="toolbar">
          <div class="card card-body">
            <h2 class="break-word">
  {#             Split file name into two parts: with and without extension#}
                <span>
                  <span id="fileTitleEditable">{{ file.name }}</span>
                  <a id='versionLink'  class='scripted'>Version: {{ file.version_number }}</a>
    {#              % if file_revision:#}
    {#                <small>&nbsp;${file_revision | h}</small>#}
    {#              % endif#}
                </span>
                <a class="btn btn-outline-primary btn-sm" href="" id="saveFile">Save current file</a>
              </h2>
          </div>
          <div class="relative-group">
            <div class="collapse" id="example1">
              <div class="card card-body">
                arsfuvkjnsrelukfnvlseukrznfñlosurhs
              </div>
            </div>
            <div class="collapse show" id="example1">
              <div class="card card-body">
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary btn-sm toogle-button" data-toggle="collapse" href="#example1" role="button" aria-expanded="false" aria-controls="example1">
                <span class="collapsed-show">
                  Hide timeline
                </span>
                <span class="collapse-show">
                  Show timeline
                </span>
              </a>
            </div>
          </div>
          <div class="relative-group">
            <div class="collapse" id="example">
              <div class="card card-body">
                arsfuvkjnsrelukfnvlseukrznfñlosurhs
              </div>
            </div>
            <div class="collapse show" id="example">
              <div class="card card-body">
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary btn-sm toogle-button" data-toggle="collapse" href="#example" role="button" aria-expanded="false" aria-controls="example">
                <span class="collapsed-show">
                  Hide controls
                </span>
                <span class="collapse-show">
                  Show controls
                </span>
              </a> 
            </div>
          </div>
      </section>
      </div>
      <section id="editor" class="col-md-auto">
      </section>
    </div>
  </div>

  <script type="text/javascript">
    window.project_id = "{{ project_id }}";
    window.file_id = "{{ file_id }}";
    window.file_version = "{{ file.version_number }}";
  </script>

  <script type="module" src="{% static 'close_reading/js/app.js' %}"></script>
{% endblock %}
