{% extends 'base.html' %}
{%  load static %}

{% block head %}
  <link rel="icon" href={% static "close_reading/img/favicon.ico" %}>
  <link rel="stylesheet" type="text/css" href={% static "close_reading/css/breadcrumb.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "close_reading/vendor/font-awesome.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "close_reading/vendor/bootstrap.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "close_reading/vendor/bootstrap.min.css.map" %}>
{% endblock %}

{% block content %}
  <div id="breadcrumb-container" class="container-lg px-3 px-lg-5">
    <nav aria-label="breadcrumb" id="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 px-0">
        <a href="{{ origin_url }}" class="breadcrumb-item">{{ origin }}</a>
        <li class="breadcrumb-item active" aria-current="page">Close Reading</li>
      </ol>
    </nav>
  </div>
  <div id="react-root"></div>

  <script type="text/javascript">
      window.project_id = "{{ project_id }}";
      window.file_id = "{{ file_id }}";
      window.file_name = "{{ title }}";
      window.file_version = "{{ file_version }}";
      window.preferences = JSON.parse("{{ preferences|escapejs|safe }}");
    </script>
  {% if DEVELOPMENT is True %}
  <script type="text/javascript" src="http://localhost:3000/main.js"></script>
{% else %}
  <script type="text/javascript" src="{% static 'close_reading/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'close_reading/js/main.js.map' %}"></script>
{% endif %}
{% endblock %}
