{% extends 'base.html' %}
{%  load static %}

{% block head %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{#    <link rel="stylesheet" href="/static/css/pages/teiclose-page.css">#}
    <link rel="stylesheet" href="/static/close_reading/css/main.css">
{#  <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>#}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <style type="text/css" id="style"></style>
{% endblock %}

{% block content %}
  <div id="annotator-root" class="" 
      color-uncertainty="true" 
      display-uncertainty="true" 
      display-annotations="true" 
      color-annotations="true">
    <div id="popup" class="card" style="width: 18rem;">
      <div class="card" id="popup-arrow"></div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <section id="asserted-value-input-options">
      <input type="text" class="input locus-value">
      <select class="form-control form-control-sm locus-name input">
        <option value="date">Date</option>
        <option value="event">Event</option>
        <option value="geolocation">geolocation</option>
        <option value="name">Name</option>
        <option value="occupation">Occupation</option>
        <option value="object">Object</option>
        <option value="org">Org</option>
        <option value="person">Person</option>
        <option value="country">country</option>
        <option value="time">Time</option>
      </select>
    </section>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <nav id="left-sidebar" class="col-md-2 d-none d-md-block sidebar">
          <button class="btn btn-outline-primary collapsed btn-collapse" type="button" 
                  data-toggle="collapse" data-target="#certaintyList" 
                  aria-expanded="false" aria-controls="certaintyList">
                  Toggle certainty list <span class="onCollapse">></span>
          </button>
          <div class="sidebar-sticky collapse" id="certaintyList">
            <ul class="flex-column">
              <div class="card w-100">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title d-inline text-dark">Id :</h5>
                        <i class="text-muted"> 0asd032</i>
                    </div>
                      <div>
                        <h5 class="card-title d-inline text-dark">Target :</h5>
                        <i class="text-muted"> 123da32</i>
                      </div>
                    </div>
                    <div class="row d-flex px-3 justify-content-between">
                    <div class="text-muted">
                        By: <i>Alejandro Rod. (xxx@domain.com)</i>
                    </div>
                      <div>
                        <i class="text-muted">(person)</i>
                      </div>
                    </div>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-5 text-info">Original value</div>
                      <div class="col-7"><i>Text</i></div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-5 text-info">Proposed value</div>
                      <div class="col-7"><i>Text</i></div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-5 text-info">Certainty</div>
                      <div class="col-7"><i>Text</i></div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-5 text-info">Uncertainty type</div>
                      <div class="col-7"><i>Text</i></div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-5 text-info">Attribute</div>
                      <div class="col-7"><i>Text</i></div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-5 text-info">Comments</div>
                      <div class="col-12">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </li>
                </ul>
                  <a href="#" class="card-link">Scroll to position</a>
                  <a href="#" class="card-link">Add annotation</a>
                </div>
              </div>
            </ul>
          </div>
        </nav>
        <div id="legend" class="col-md-2 d-none d-md-block legend">
          <button class="btn btn-outline-primary collapsed btn-collapse" type="button" 
                  data-toggle="collapse" data-target="#legend-sidebar" 
                  aria-expanded="false" aria-controls="legend-sidebar">
                  <span class="onCollapse"><</span> Toggle legend
          </button>
          <div class="sidebar-sticky collapse" id="legend-sidebar">
            <ul class="nav flex-column">
              <b>Annotation color scheme</b><br/>
              <span class="teiLegendElement" id="date">
                  <span class="color" id=""></span> <i class="fas fa-calendar-alt"></i> Date
              </span>
              <span class="teiLegendElement" id="event">
                <span class="color" id=""></span> <i class="fas fa-calendar-check"></i> Event
              </span>
              <span class="teiLegendElement" id="location">
                <span class="color" id=""></span> <i class="fas fa-map-marked-alt"></i> Location, geolocation
              </span>
              <span class="teiLegendElement" id="name">
                <span class="color" id=""></span> <i class="fas fa-user-tag"></i> Name
              </span>
              <span class="teiLegendElement" id="occupation">
                <span class="color" id=""></span> <i class="fas fa-briefcase"></i> Occupation
              </span>
              <span class="teiLegendElement" id="object">
                <span class="color" id=""></span> <i class="fas fa-box"></i> Object
              </span>
              <span class="teiLegendElement" id="org">
                <span class="color" id=""></span> <i class="fas fa-building"></i> Org
              </span>
              <span class="teiLegendElement" id="person">
                <span class="color" id=""></span> <i class="fas fa-user"></i> Person
              </span>
              <span class="teiLegendElement" id="place">
                <span class="color" id=""></span> <i class="fas fa-map"></i> Place, country
              </span>
              <span class="teiLegendElement" id="time">
                <span class="color" id=""></span> <i class="fas fa-clock"></i> Time
              </span>
              <b>Uncertainty notion color scheme</b><br/>
              <span class="teiLegendElement">
                <span class="color uncertainty" author="me" title="unknown"
        category="ignorance" cert="unknown"></span>
                <span class="color uncertainty" author="me" title="low"
        category="ignorance" cert="low"></span>
                <span class="color uncertainty" author="me" title="medium"
        category="ignorance" cert="medium"></span>
                <span class="color uncertainty" author="me" title="high"
        category="ignorance" cert="high"></span>
                Ignorance
              </span>
              <span class="teiLegendElement">
                <span class="color uncertainty" author="me" title="unknown"
        category="credibility" cert="unknown"></span>
                <span class="color uncertainty" author="me" title="low"
        category="credibility" cert="low"></span>
                <span class="color uncertainty" author="me" title="medium"
        category="credibility" cert="medium"></span>
                <span class="color uncertainty" author="me" title="high"
        category="credibility" cert="high"></span>
                Credibility
              </span>
              <span class="teiLegendElement">
                <span class="color uncertainty" author="me" title="unknown"
        category="imprecision" cert="unknown"></span>
                <span class="color uncertainty" author="me" title="low"
        category="imprecision" cert="low"></span>
                <span class="color uncertainty" author="me" title="medium"
        category="imprecision" cert="medium"></span>
                <span class="color uncertainty" author="me" title="high"
        category="imprecision" cert="high"></span>
                Imprecision
              </span>
              <span class="teiLegendElement">
                <span class="color uncertainty" author="me" title="unknown"
        category="incompleteness" cert="unknown"></span>
                <span class="color uncertainty" author="me" title="low"
        category="incompleteness" cert="low"></span>
                <span class="color uncertainty" author="me" title="medium"
        category="incompleteness" cert="medium"></span>
                <span class="color uncertainty" author="me" title="high"
        category="incompleteness" cert="high"></span>
                Incompleteness
              </span>
            </ul>
          </div>
        </div>

        <main role="main" class="col-md-8 col-lg-8 px-4 justify-content-center d-flex"> 
          <div id="toolbar-container" class="col-auto">
            <section id="toolbar">
              <div id="alert" class="hide" role="alert"></div>
              <div class="card card-body">
              <h3 class="break-word">
    {#             Split file name into two parts: with and without extension#}
                <span>
                  <span id="fileTitleEditable">{{ file.name }}</span>
                  <a id='versionLink'  class='scripted'>Version: {{ file.version_number }}</a>
    {#              % if file_revision:#}
    {#                <small>&nbsp;${file_revision | h}</small>#}
    {#              % endif#}
                </span>
                <button class="btn btn-outline-primary btn-sm" href="" id="saveFile">Save current file</button>
              </h3>
              <div id="history-container">
                <div id="history">
                  <span id="history-legend">Uncertainty</span>
                  <div>
                    <canvas></canvas>
                    <hr/>
                    <div id="versions"></div>
                    <div id="version-toltip"></div>
                    <div id="history-popup">
                  </div>
                </div>
              </div>
              </div>
              </div>
                <div class="collapse p-2" id="example" class="card card-body">
                  <div>
                    <div id="visual-options" class="d-flex justify-content-between">
                      <button id="display-annotations" class="btn btn-outline-primary btn-sm active" data-toggle="button" aria-pressed="true" pressed="true" autocomplete="false">
                        <span class="active-hide">Show</span><span class="active-show">Hide</span> annotations
                      </button>
                      <button id="display-uncertainty" class="btn btn-outline-primary btn-sm active" data-toggle="button" aria-pressed="true" pressed="true" autocomplete="false">
                        <span class="active-hide">Show</span><span class="active-show">Hide</span> uncertainty
                      </button>
                      <button id="color-annotations" class="btn btn-outline-primary btn-sm active" data-toggle="button" aria-pressed="true" pressed="true" autocomplete="false">
                        <span class="active-hide">Show</span><span class="active-show">Hide</span> color for annotations
                      </button>
                      <button id="color-uncertainty" class="btn btn-outline-primary btn-sm active" data-toggle="button" aria-pressed="true" pressed="true" autocomplete="false">
                        <span class="active-hide">Show</span><span class="active-show">Hide</span> color for uncertainty
                      </button>
                    </div>
                    <hr>
                    <div class="toolbarRow" id="toolbar-controls">
                        <span class="toolbar-control" id="annotation-options">
                          <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="annotating-uncertainty" data-toggle="tab" href="#uncertainty-tab" role="tab" aria-controls="uncertainty-tab" aria-selected="true">Add uncertainty annotations</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="annotating-tei" data-toggle="tab" href="#tei-tab" role="tab" aria-controls="tei-tab" aria-selected="false">Add TEI annotations</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="annotation-form">
                            <div class="tab-pane show active" id="uncertainty-tab" role="tabpanel" aria-labelledby="annotating-uncertainty">
                              <div class="form-row">
                                <div class="col">
                                  <label for="category">Category of uncertainty 
                                    <span class="help-tooltip" help="This is the category." />
                                  </label>
                                  <select class="form-control form-control-sm" id='category'>
                                    <option class="ignorance" value="ignorance">Ignorance</option>
                                    <option class="credibility" value="credibility">Credibility</option>
                                    <option class="imprecision" value="imprecision">Imprecision</option>
                                    <option class="incompleteness" value="incompleteness">Incompleteness</option>
                                  </select>
                                </div>
                                <div class="col">
                                  <label for="locus">Locus
                                    <span class="help-tooltip" help="This is the locus." />
                                  </label>
                                  <select class="form-control form-control-sm" id='locus'>
                                    <option value="value">Value</option>
                                    <option value="name">Name</option>
                                  </select>
                                </div>
                                <div class="col">
                                  <div id="tag-name-input">
                                    <label for="tag-name">Tag name
                                      <span class="help-tooltip" help="This is the type of tag to which the annotation refers." />
                                    </label>
                                    <select class="form-control form-control-sm" id='tag-name'>
                                      <option value="date">Date</option>
                                      <option value="event">Event</option>
                                      <option value="geolocation">geolocation</option>
                                      <option value="name">Name</option>
                                      <option value="occupation">Occupation</option>
                                      <option value="object">Object</option>
                                      <option value="org">Org</option>
                                      <option value="person">Person</option>
                                      <option value="country">country</option>
                                      <option value="time">Time</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col">
                                  <label for="attribute-name">Attribute name 
                                    <span class="help-tooltip" help="
                                      Use this optional parameter to annotate an attribute. <br>
                                      The 'sameAs' attribute is used to create a correspondence
                                      with another entity (an input will appear to allow selecting the second entity).
                                    " />
                                  </label>
                                  <input type="text" id="attribute-name">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col">
                                  <label for="selection">Text selection
                                    <span class="help-tooltip" help="This is the selected text." />
                                  </label>
                                  <input readonly type="text" id="selection">
                                </div>
                                <div class="col">
                                  <label for="asserted-value">Asserted value
                                    <span class="help-tooltip" help="This is the proposed value." />
                                  </label>
                                  <div id="asserted-value-container">
                                    <input id="asserted-value" class="input">
                                  </div>
                                </div>
                                <div class="col">
                                  <label for="cert-level">Certainty
                                    <span class="help-tooltip" help="This is the level of certainty on the proposed value." />
                                  </label>
                                  <select class="form-control form-control-sm" id='cert-level'>
                                    <option value="unknown">Unknown</option>
                                    <option value="high">High</option>
                                    <option value="medium">Medium</option>
                                    <option value="low">Low</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col">
                                  <label for="description">Description
                                    <span class="help-tooltip" help="This is an optional description." />
                                  </label>
                                  <input type="text" id="description">
                                </div>
                                <div class="col">
                                  <span id="references-container">
                                    <label for="references-autocomplete">References
                                      <span class="help-tooltip" help="This is the referenced tag." />
                                    </label>
                                    <div class="autocomplete">
                                      <input type="text" id="references-autocomplete">
                                      <input type="text" id="references">
                                    </div>
                                  </span>
                                </div>
                                <div class="col d-flex justify-content-end align-items-end">
                                  <button class="btn btn-outline-success" id="create-uncertainty-annotation">Create</button>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane" id="tei-tab" role="tabpanel" aria-labelledby="annotating-tei">
                              <div class="form-row">
                                <div class="col">
                                  <label for="tei-tag-name">Tag name
                                    <span class="help-tooltip" help="This is the type TEI tag to use for annotating." />
                                  </label>
                                    <select class="form-control form-control-sm" id='tei-tag-name'>
                                      <option value="date">Date</option>
                                      <option value="event">Event</option>
                                      <option value="geolocation">geolocation</option>
                                      <option value="name">Name</option>
                                      <option value="occupation">Occupation</option>
                                      <option value="object">Object</option>
                                      <option value="org">Org</option>
                                      <option value="person">Person</option>
                                      <option value="country">country</option>
                                      <option value="time">Time</option>
                                    </select>
                                </div>
                                <div class="col">
                                  <p><br>Annotate TEI without a sense of certainty attached to it.</p>
                                </div>
                                <div class="col d-flex justify-content-end align-items-end">
                                  <button class="btn btn-outline-success" id="create-tei-annotation">Create</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- 
                          <input class="nav-link active" id="uncertainty-a" data-toggle="tab" role="tab" aria-controls="uncertainty-tab"
                          aria-selected="true" type="radio" name="annotation" value="uncertainty" checked> Annotate Uncertainty
                          <input class="nav-link" id="tei-a" data-toggle="tab" role="tab" aria-controls="tei-tab"
                          aria-selected="false" type="radio" name="annotation" value="tei"> Annotate TEI -->
                        </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center toogle-button">
                  <div class="relative-group">
                  <a class="btn btn-primary btn-sm collapsed" data-toggle="collapse" href="#example" role="button" aria-expanded="false" aria-controls="example">
                    <span class="collapse-show">
                      Hide controls
                    </span>
                    <span class="collapsed-show">
                      Show controls
                    </span>
                  </a> 
                </div>
              </section>
            </div>
            <div class="row">
              <section id="editor" class="col-auto ">
              </section>
            </div>
        </main>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    window.project_id = "{{ project_id }}";
    window.file_id = "{{ file_id }}";
    window.file_version = "{{ file.version_number }}";

    document.addEventListener("DOMContentLoaded", function(){
       document.getElementById('toggle-uncertainty').addEventListener('click', evt=>{
           document.getElementById('certainty-list').classList.toggle('expanded');
       });
    });
  </script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="module" src="{% static 'close_reading/js/app.js' %}"></script>
{% endblock %}
