{% extends 'base.html' %}
{%  load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dataset_stats/css/main.css' %}">
{% endblock %}

{% block submenu %}
<ul class="submenu__list">
  <li class="submenu__item">
    <a href="{% url 'projects:project' project_id %}" class="submenu__link">{{ title }}</a>
  </li>
  <li class="submenu__item">
    <a href="{% url 'projects:files' project_id %}" class="submenu__link">Files</a>
  </li>
  <li class="submenu__item submenu__item--active">
    <a href="{% url 'dataset_stats:main' project_id %}" class="submenu__link">Stats</a>
  </li>
  <li class="submenu__item submenu__item">
    <a href="{% url 'vis_dashboard:list' project_id %}" class="submenu__link">Dashboard</a>
  </li>
  <li class="submenu__item submenu__item">
    <a href="{% url 'disambiguator_ui' project_id %}" class="submenu__link">Disambiguator</a>
  </li>
  <li class="submenu__item submenu__item--active">
    <a href="{% url 'overview:main' project_id %}" class="submenu__link">Overview</a>
  </li>
  <li class="submenu__item">
    <a href="{% url 'projects:project_settings' project_id %}" class="submenu__link">Settings</a>
  </li>
</ul>
{% endblock %}

{% block content %}

{% load bottom_hint %}
{% bottom_hint "What is this page?" %}
<h3>Help tooltip</h3>
<h5 class="text-muted">Useful to explain the app</h5>
<p>
  This is a <i>good place</i> to explain things <b>. . .</b>
</p>
{% end_bottom_hint %}

{% csrf_token %}
<div class="submenu">
  <div class="container">
    <ul class="submenu__list d-flex">
      <li class="submenu__item">
        <a href="{% url 'projects:project' project_id %}" class="submenu__link">{{ title }}</a>
      </li>
      <li class="submenu__item">
        <a href="{% url 'projects:files' project_id %}" class="submenu__link">Files</a>
      </li>
      <li class="submenu__item submenu__item">
        <a href="{% url 'dataset_stats:main' project_id %}" class="submenu__link">Stats</a>
      </li>
      <li class="submenu__item submenu__item">
        <a href="{% url 'vis_dashboard:list' project_id %}" class="submenu__link">Dashboard</a>
      </li>
      <li class="submenu__item submenu__item">
        <a href="{% url 'disambiguator_ui' project_id %}" class="submenu__link">Disambiguator</a>
      </li>
      <li class="submenu__item submenu__item--active">
        <a href="{% url 'overview:main' project_id %}" class="submenu__link">Overview</a>
      </li>
      <li class="submenu__item">
        <a href="{% url 'projects:project_settings' project_id %}" class="submenu__link">Settings</a>
      </li>
    </ul>
  </div>
</div>
<div class="container project">
  <div class="row">
    <div class="col-12">
      <div id="react-root"></div>
    </div>
  </div>
</div>

<div id="app-params" class="d-none">
  <span id="project_id">{{ project_id }}</span>
  <span id="preferences">{{ preferences|escapejs|safe }}</span>
</div>
<script src="{% static 'overview/js/setup.js' %}" type="text/javascript"></script>
{% if DEVELOPMENT is True %}
  <script type="text/javascript" src="http://localhost:3000/main.js"></script>
{% else %}
  <script type="text/javascript" src="{% static 'overview/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'overview/js/main.js.map' %}"></script>
{% endif %}
{% endblock %}
