.multipleSelectionControl{
    width: 100%;
    background-color: var(--light);
}

.multipleSelectionControl select{
    width: 60%;
}

.formGroupOverride{
    margin-bottom:1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: var(--space-l);
    padding-top: var(--space-s);
    padding-left: var(--space-s);
}
