.map{
  width: 100%;
  height: 100%;
  padding: 10px;
}

.locationTable {
  overflow-y: auto;
  text-align: left;
  width: fit-content;
  position: absolute;
  right: 10px;
}

.locationTable * {
	margin: 0;
	box-sizing: border-box;
}

.locationTable table thead {
}

.locationTable table thead tr th {
	background-color: white;
	position: sticky;
	top: 0;
}
